@import "tailwindcss";

:root {
  --song-panel-bg: 128,0,128;
  --song-panel-text-color: white;
  --song-panel-scale-size: 1.0;
  --song-panel-max-width: 700px;
  --song-panel-padding: 10px;
  --song-panel-font-family: Arial, sans-serif;
  --song-panel-gradient-direction: to left;
  --overlay-x: 0px;
  --overlay-y: 0px;
}

.songPanel {
  margin: 0;
  position: fixed;
  bottom: calc(var(--overlay-y) * -1);
  right: calc(var(--overlay-x) * -1);
  display: block;
  background: var(--song-panel-bg);
  color: rgb(var(--song-panel-text-color));
  padding: var(--song-panel-padding);
  transform: scale(var(--song-panel-scale-size));
  font-size: 16px;
  font-family: var(--song-panel-font-family);
  z-index: 1000;
  max-width: var(--song-panel-max-width);
  overflow: hidden; /* Added line */
  text-align: right;
  transition: background 0.3s ease, opacity 0.3s ease;
  line-height: normal;
}

.marqueeWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marqueeTrack {
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
}

.marqueeTrack span {
  display: inline-block;
  white-space: nowrap;
  font-family: var(--song-panel-font-family);
  -webkit-font-smoothing: antialiased; /* <- helps accuracy */
}

.marqueeTrack.animate {
  animation: scrollRight linear infinite;
  /* animation duration set inline from React */
}

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
